/*
Theme Name: Entice Web Design Theme
Theme URI: https://www.entice.com.au;
Description: A new theme for Entice Web Design, made by Entice Web Design
Author: Entice
Author URI: https://www.entice.com.au
Version: 1.0
*/

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 16px Helvetica Neue, Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #ea612c;text-decoration: none;transition: ease all 0.3s;cursor: pointer;}
a:hover {color: #ef977a;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

*:focus {outline: none;}


/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/

/* Start sticky footer */

* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	/* margin: 0 auto -150px; */ /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	 /* height: 150px; */  /* '.push' must be the same height as 'footer' */
}

/* End Sticky Footer */

/*Globals*/

h1, h2, h3, h4, h5, h6, a, p, div {
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 3em;
	line-height: 1.4em;
	/* font-weight: 900; */
}

h2 {
	font-size: 1.875em;
	margin-bottom: 1em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.695em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
	line-height: 1.25em;
}

.wysiwyg h6 {
	margin-bottom: 1em;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
	line-height: 2em;
	font-family: 'Lato';
	font-weight: 300;
}

.single-post .entry-content ol, .single-post .entry-content ul {
	list-style:  disc inside;
	margin: 1em 0;
	font-family: 'Alegreya Sans';
	font-size: 
}

.single-post .entry-content ol li, .single-post .entry-content ul li {
	margin-bottom: 1em;
	text-indent: -2em;
	padding-left: 2em;
}

.desktop {
	display: none;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.footer-contact-wrap .container, .contact-wrap .container {
	max-width: 768px;
	text-align: left;
}

label {
	margin-bottom: 1em;
	display: block;
}

.footer-contact-wrap label span {
	margin-top: 0.5em;
}

.footer-contact-wrap br {
	display: none;
}

.hide {
	display: none;
}

input, textarea, select {
	padding: 1em;
	border: 2px solid #e0e0e0;
	width: 100%;
	-webkit-appearance: none;
	border-radius: 5px;
	background: #f2f2f2;
}

input, textarea {
	color: #2d2d2d;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	background: #fff;
}

input::placeholder, textarea::placeholder {
  color: #ddd!important;
}

input[type="submit"] {
	color: #fff;
	background: #eb5a10;
	border: none;
	/* box-shadow: 0 3px 0 rgb(195, 97, 64); */
	transition: ease all 0.3s;
	padding: 1em;
}

input[type="submit"]:hover {
	background: #ef977a;
}

/*Header*/

#header a {
	display: block;
	color: #fff;
	text-align: center;
}

.logo-nav-wrap, .logo-nav-wrap a {
	color: #fff;
	font-weight: lighter;
	text-transform: lowercase;
}

nav.mobile {
	text-align: right;
	width: 18%;
	vertical-align: middle;
	display: inline-block;
	/* position: relative; */
}

nav .menu-link {
	font-size: 2em;
}

nav.mobile ul {
	background: rgba(0,0,0,0.6);
	width: 100%;
}

nav.mobile div > ul {
	position: absolute;
	top: 100%;
	right: 0;
}

nav.mobile ul li {
	display: block;
	width: 100%;
}

nav.mobile ul li a {
	padding: 1em 2em;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	font-weight: 400;
}


.logo-nav-wrap {
	position: absolute;
	top:0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	left: 0;
	padding: 2em;
	z-index: 999;
	display: table;
}

.logo-nav-wrap header a img {
	padding: 2em;
	text-align: center;
	margin: 0 auto;
}

.phone-wrap {
	text-align: left;
	font-size: 1.3em;
	width: 80%;
	vertical-align: middle;
	font-weight: 900;
	display: inline-block;
}

.phone-wrap i {
	margin-right: 1em;
}

/*Banner*/

.banner h1 {
	text-align: center;
	font-size: 3em;
}

.home .banner h1 {
	text-align: left;
	font-weight: 900;
}

.banner h1.page-title {
	/* font-size: 4.5em; */
	margin-bottom: 1em;
}

.banner, .banner ul.background, .banner ul.background li, .banner ul.background div {
	min-height: 538px;
	width: 100%;
	position: relative;
}

.banner ul.background {
	position: relative;
}

.banner ul.background li {
	background-size: cover;
	background-position: center center;
	/* position: absolute; */
}

.banner ul.background li, .banner ul.foreground li {
	display: none;
}

.banner ul.background li:first-child, .banner ul.foreground li:first-child {
	display: block;
}

.js .banner ul.background li, .js .banner ul.foreground li {
	display: block;
}

.banner, .banner ul.background, .banner ul.background li, .banner ul.background div {
	min-height: 526px;
}

.banner .img-wrap {
	width: 100%;
	height: auto;
	display: none;
}

.banner .slick-prev, .banner .slick-next {
	display: none;
}

.img-content-wrap {
	display: table;
	position: absolute;
	top: 2em;
	width: 100%;
	height: 100%;
	max-width: 1180px;
	padding: 2em;
}

.content-wrap {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 4em 2em;
	max-width: 1180px;
	left: 0;
	margin: 0 auto;
	right: 0;
	margin-top: 7em;
	text-align: center;
	width: 100%;
}

.home .content-wrap {
	text-align: left;
}

.content-wrap ul {
	display: none;
}

.content-wrap img {
	width: 100%;
	height: auto;
}

.home .content-wrap h4:last-of-type , .home .content-wrap h1:last-of-type {
	display: inline;
}

.home .content-wrap h1:last-of-type {
	font-size: 2.1em;
}

.banner-cta {
	color: #fff;
	border: 1px solid #fff;
	padding: 2em 4em;
	width: auto;
	margin: 2em 0;
	display: table;
	font-size: 1.2em;
	background: rgba(0,0,0,0.6);
}

.entry p img {
	display: block;
	text-align: center;
	margin: 0 auto 2em;
}

/*Padded Content*/

.padded_content {
	padding: 5em 2em;
	background-size: cover;
	background-position: center center;
}

.padded_content .container {
	max-width: 960px;
	display: flex;
	flex-direction: column;
}

.featured-image {
	margin: 0 auto 2em;
}

.link {
	width: 100%;
	padding: 2em;
	text-align: center;
}

.padded_content .link {
	padding: 0;
	clear: both;
}

.trailing-link {
	background: #eb5a10;
	color: #fff;
	text-transform: uppercase;
	padding: 1.3em 1.5em;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

a.trailing-link:hover {
	color: #fff;
	background: #ef977a;
}

/*Portfolio*/

section.portfolio {
	text-align: center;
}

section.portfolio h2 {
	margin: 1em auto;
	display: inline-block;
}

section.portfolio .portfolio-categories {
	padding: 0 2em;
	margin-bottom: 2em;
}

section.portfolio a {
	display: inline-block;
	color: #333;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

section.portfolio a.active, section.portfolio a:hover {
	color: #f3784f;
}

section.portfolio .img-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
	/* display: block; */
	padding: 0 5px;
}

section.portfolio a img {
	width: 100%;
	height: 100%;
	transition: ease all 0.3s;
	backface-visibility: hidden;
	transform: translateZ(0) scale(1.0, 1.0);
	display: block;
	object-fit: cover;
	box-shadow: 0 0 10px #b5b5b5;
}

section.portfolio a:hover img {
	opacity: 0.5;
	transform: translateZ(0) scale(1.1, 1.1);
}

section.portfolio .excerpt {
	color: #fff;
	position: absolute;
	transform: translateY(-50%);
	text-align: center;
	margin: auto;
	/* opacity: 0; */
	transition: ease all 0.3s;
	z-index: 999;
	width: 80%;
	line-height: 1em;
	left: 0;
	right: 0;
	top: 50%;
}

section.portfolio .excerpt p {
	display: none;
}

section.portfolio a .excerpt span {
	background-color: rgb(243, 120, 79);
	padding: 1em 2em;
	text-transform: uppercase;
	box-shadow: 0 2px 0 rgb(195, 97, 64);
	display: inline-block;
	border-radius: 5px;
}

section.portfolio ul {
	display: table;
	/* width: 100%; */
}

section.portfolio ul li {
	display: table-cell;
}

section.portfolio .trailing-link {
	display: block;
	/* padding: 2em; */
	color: #fff;
	font-weight: 300;
}

section.portfolio .portfolio-wrap ul {
	display: block;
}

section.portfolio .portfolio-wrap ul li {
	width: 100%;
	visibility: hidden;
	display: none;
	margin-bottom: 10px;
}

section.portfolio .portfolio-wrap ul li.active {
	display: block;
	visibility: visible;
}

.grid-sizer,
.grid-item { width: 100%; }

/*Testimonials*/

.testimonials {
	/* color: #333; */
	text-align: center;
	padding: 2em;
	background: #2d2d2d;
}

.testimonials h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
	line-height: 2em;
	z-index: 999;
	opacity: 0.99;
	/* font-style: italic; */
}

.quote h3 {
	font-style: italic;
	line-height: 1.5em;
}

.author h3, .position h3 {
	/* text-transform: uppercase; */
	/* font-size: 1em; */
	margin-bottom: 0;
	/* font-weight: bold; */
}

.testimonials ul li {
	padding: 1em 2em;
	/* min-height: 285px; */
	position: relative;
	background-size: cover;
	background-position: center center;
	color: #fff;
}

.testimonials .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 0;
}

.testimonials-wrap ul li img {
	display: none;
}

.testimonials ul {
	position: relative;
}

.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 2em;
	font-weight: lighter;
	z-index: 9999;
	/* margin: 0 1em; */
}

.slick-next {
	right: 0;
	left: auto;
}

.testimonials .slick-next, .testimonials .slick-prev {
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    opacity: 0.5;
}

.testimonials .quote h3:after {
	/*content: '';*/
	width: 70%;
	height: 1px;
	background: #fff;
	display: block;
	margin: 1em auto;
}

.testimonials .testimonial-dots button:before {
    content: '\f111';
    font-family: 'FontAwesome';
    display: block;
    color: #fff;
    transition: ease all 0.3s;
    opacity: 0.5
}

.testimonials .testimonial-dots li.slick-active button:before {
	opacity: 1;
}

.testimonials .testimonial-dots button {
    color: transparent;
    background: transparent;
    border: none;
}

.testimonial-dots {

}

.testimonials .testimonial-dots li {
	display: inline-block;
	padding: 0.5em;
}

/*Footer*/

footer {
	text-align: center;
}

footer ul.menu > li:not(:last-child) {
	margin-bottom: 2em;
}

footer ul li a {
	display: inline-block;
	padding: 1em;
}

footer ul li a {
	color: #ddd;
	border-bottom: 1px solid #ddd;
}

footer ul li ul li a {
	color: #999;
	border-bottom: none;
}

footer .menu-wrap {
	background-color: #333;
	padding: 2em;
}

.footer-contact-wrap {
	padding: 2em 2em;
	/* border: 1px solid #ddd; */
	background: #f2f2f2;
	color: #222;
}

.contact-wrap {
	text-align: center;
}

.footer-contact-wrap p {
}

.footer-contact-wrap span, .contact-wrap span {
	margin-bottom: 1em;
	display: block;
}

.footer-contact-wrap div:last-child {
	margin-bottom: 0;
}

.copyright {
	background: #222;
	padding: 2em;
	text-align: center;
	color: #969696;
}

/*Single Portfolio Item*/

#wrapper {
	background-repeat: no-repeat;
	background-position: center center;
	/* background-attachment: fixed; */
	background-size: cover;
}

.entry-content {
	padding: 2em;
	background: rgba(255, 255, 255, 0.62);
	margin: 2em;
	border-radius: 5px;
	margin-bottom: 2em;
	/* display: inline-block; */
}

.portfolio-website-link {
	background: #f3784f;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5em 2em;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.portfolio-website-link:hover {
	color: #fff;
}

.single-portfolio h1 {
	margin-bottom: 0.5em;
	text-align: center;
}

.portfolio-featured-image {
	margin-bottom: 2em;
}

.single-portfolio .slider-for .slides {
	width: 100%;
	color: #fff;
	font-size: 2em;
}

.portfolio-featured-image {
	position: relative;
}

.portfolio-featured-image ul li img {
	width: 100%;
	height: auto;
}

.single-portfolio .portfolio-item-gallery {
	display: none;
}

.single-portfolio article {
	overflow: hidden;
	padding: 2em;
}

.portfolio-featured-image .slick-slider .slick-list {
	border-radius: 5px;
	box-shadow: 0 0 10px #888;
}

.single-portfolio .portfolio-item-gallery ul li {
	cursor: pointer;
}

/*The Team*/

.page-template-page-our-team section {
	padding: 2em;
}

.page-template-page-our-team section:after {
	content: '';
	display: block;
	height: 1px;
	width: 50%;
	background: #ddd;
	margin: 0 auto;
}

.the-team {
	width: 100%;
	text-align: center;
}

.the-team ul li {
	margin-bottom: 2em;
	padding: 2em;
}

.the-team ul li:last-child {
	margin: 0;
}

.the-team ul li:nth-child(even) {
	background: #f8f8f8;
}

.the-team ul li .img-crop {
	display: block;
	margin: 0 auto 2em;
	overflow: hidden;
	width: 150px;
	height: 150px;
	filter: gray; /* IE6+ */
	filter: grayscale(100%); /* Current draft standard */
	-webkit-filter: grayscale(1); /* New WebKit */
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
	transition: ease all 0.3s;
}

.the-team ul li img {
	border-radius: 100%;
}

.the-team ul li:hover .img-crop {
	filter:none;
	filter: grayscale(0%); /* Current draft standard */
	-webkit-filter: grayscale(0); /* New WebKit */
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0); 
	-o-filter: grayscale(0);
}

.the-team h3 {
	margin-bottom: 1em;
}

/*Services*/

section.services_link {
	padding: 2em;
	text-align: center;
	background:  #ea590f;
	 color: #fff; 
}

section.services_link a {
	color: #fff;
	text-decoration: underline;
}

section.services {
	padding: 2em;
	text-align: center;
	background:  #ea590f;
}

section.services h2 {
	color: #cfcfcf;
	margin-bottom: 2em;
	font-size: 1.125em;
}

section.services a {
	/* color: #fff; */
	/* text-decoration: underline; */
}

section.services i {
	margin: 0 0.5em;
}

.service {
	margin-bottom: 4em;
}

.service h4 {
	/* font-weight: bold; */
	margin-bottom: 1em;
	font-weight: 700;
}

.service p {
	margin-bottom: 2em;
}

.service img {
	margin-bottom: 2em;
	/* padding: 1em; */
	width: 75%;
	width: 100px;
	height: 100px;
	object-fit: contain;
	/* height: auto; */
}

.service a {
	/* background: #f3784f; */
	/* color: #fff; */
	padding: 1em 2em;
	/* text-transform: uppercase; */
	display: inline-block;
}

/*Blog*/

section.blog {
	max-width: 1180px;
	margin: 0 auto;
	padding: 2em;
}

section.blog .container {
	max-width: 1180px;
}

section.blog h3 {
	text-align: center;
}

section.blog ul li img {
	margin-bottom: 1em;
}

section.blog ul li {
	padding: 2em;
	border: 1px solid #ddd;
	margin-bottom: 2em;
}

section.blog ul li a.read-more {
	background: #f3784f;
	color: #fff;
	padding: 1em 2em;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.blog-post-grid-sizer,
.alm-reveal li { width: 100%; }

.alm-btn-wrap {
	display: none;
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.posted-on {
	font-style: italic;
	font-size: 0.85em;
}

/*Our clients*/

section.our_clients {
	padding: 2em;
	text-align: center;
	color: #414040;
}

section.our_clients h6 {
	margin-bottom: 1em;
}

section.our_clients ul {
	display: flex;
	flex-direction: column;
}

section.our_clients ul li {
	padding: 1em;
	flex: 1;
}

section.wide_image_with_content {
	padding: 2em;
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
}

section.wide_image_with_content .container {
	display: flex;
	flex-direction: column;
}

section.wide_image_with_content .featured-image img {
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
	border-radius: 5px;
}

section.wide_image_with_content .featured-image.light img {
	 box-shadow: 0 0 20px 5px rgba(255,255,255,0.3);
}

/* ipad-ish size */
@media only screen and (min-width: 768px) {

	.wrapper {
		min-height: 100%;
		margin: 0 auto 150px; /* the bottom margin is the negative value of the footer's height */
	}
	footer, .push {
		 /* height: 150px; */  /* '.push' must be the same height as 'footer' */
	}

	.mobile {
		display: none!important;
	}

	.desktop {
		display: block;
	}

	.logo-nav-wrap {
		padding: 0;
	}

	#header, #nav.desktop, .phone-wrap {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
	}

	.phone-wrap {
		font-size: 1em;
		width: 24%;
		text-align: center;
	}

	#nav.desktop {
		width: 75%;
	}

	#header {
		text-align: right;
		display: block;
		width: 100%;
	}

	#header a img {
		/* text-align: center; */
		/* margin: 0 auto; */
		/* padding: 0; */
	}

	#nav.desktop .menu {
		display: table;
		width: 100%;
	}

	#nav.desktop .menu li {
		display: table-cell;
		position: relative;
		vertical-align: middle;
	}

	#nav.desktop .menu li a {
		width: 100%;
		display: block;
		height: 100%;
		padding: 1em;
		text-align: center;
		/* font-size: 1.2em; */
	}

	#nav.desktop .menu li a:hover {
		color: #f3784f;
	}

	#nav.desktop .menu-item-has-children {
		position: relative;
	}

	#nav.desktop .menu-item-has-children ul {
		max-height: 0px;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		left: 50%;
		transition: ease all 1s;
		display: block;
		overflow: hidden;
		padding-top: 1em;
		min-width: 150px;
	}

	#nav.desktop .menu-item-has-children:hover > ul {
		max-height: 999px;
	}

	#nav.desktop .menu-item-has-children ul li {
		background: rgba(0,0,0,0.3);
		display: block;
	}

	#nav.desktop .menu-item-has-children ul li a {
		/* margin: 1em 0 0; */
		padding: 1em 0 0;
	}

	#nav.desktop .menu-item-has-children ul li:last-child a {
		padding-bottom: 1em;
	}

	.sticky #nav.desktop .menu li a {
		font-size: 1em;
	}

	.content-wrap {
		/* margin-top: 4em; */
	}

	.trailing-link {
		width: auto;
	}

	.content-wrap > .slides > div {
		box-shadow: 0 0 10px rgba(24, 23, 21, 0.51);
		border-radius: 5px;
	}

	.home .content-wrap ul, .home .content-wrap > div {
		display: inline-block;
		width: 49%;
		vertical-align: top;
		padding: 1em;
	}

	.padded_content .container.Left, .padded_content .container.Right {
		flex-direction: row;
		align-items: center;
	}

	.padded_content .container.Right {
		flex-direction: row-reverse;
	}

	.padded_content .container > .featured-image {
		flex: 0 0 33%;
	}

	.padded_content .container.Left > .featured-image img {
		padding-right: 3em;
	}

	.padded_content .container.Right > .featured-image img {
		padding-left: 3em;
	}

	section.portfolio {
		padding: 4em 0;
	}

	section .portfolio-categories .desktop ul {
		display: table;
		width: 100%;
		max-width: 768px;
		text-align: center;
		margin: 0 auto;
		/* text-transform: uppercase; */
	}

	section .portfolio-categories .desktop ul li {
		display: table-cell;
	}

	section.portfolio .portfolio-wrap ul {
		/* width: 100%; */
		overflow: hidden;
		margin: 0;
		padding: 0;
		text-align: center;
		padding: 1%;
		line-height: 0em;
	}

	section.portfolio .portfolio-wrap ul li {
		width: 25%;
		vertical-align: middle;
		transition: visibility 0s, opacity 0.3s linear;
		opacity: 0;
	}

	.grid-sizer,
	.grid-item { width: 25%; }

	section.portfolio .portfolio-wrap ul li.active {
		display: inline-block;
		opacity: 1;
		visibility: visible;
	}

	section.portfolio .portfolio-wrap {
		margin: 0 auto;
	}

	section.portfolio .portfolio-items-1 {
		width: 25%;
		margin: 0 auto;
	}

	section.portfolio .portfolio-items-1 ul li {
		width: 100%;
	}

	section.portfolio .portfolio-items-2 {
		width: 50%;
	}

	section.portfolio .portfolio-items-2 ul li {
		width: 50%;
	}

	section.portfolio .portfolio-items-3 {
		width: 75%;
	}

	section.portfolio .portfolio-items-3 ul li {
		width: 33%;
	}

	section.portfolio .portfolio-items-4 {
		width: 100%;
		vertical-align: middle;
		position: relative;
	}

	section.portfolio .portfolio-items-4 ul li {
		width: 49%;
		/* height: 314px; */
	}

	section.portfolio .portfolio-link {
		text-transform: none;
		font-weight: 400;
		display: inline;
		color: #f3784e;
		text-decoration: underline;
	}

	section.portfolio .portfolio-link:hover {
		color: #fff;
	}

	section.portfolio .excerpt p {
		display: block;
	}

	section.portfolio .excerpt {
		opacity: 0;
	}

	section.portfolio a:hover .excerpt {
		opacity: 1;
	}

	section.portfolio li.portfolio-item-4 a:hover .excerpt {
		top: -6em;
	}

	.testimonials {
		padding: 2em;
	}

	.testimonials-wrap ul li {
		/* background: #fff; */
		/* margin-bottom: 2em; */
		/* color: #333; */
	}

	.testimonials .quote h3:after {
		background-color: #333;
	}

	.testimonials-wrap ul li .img-wrap {
		display: none;
		vertical-align: middle;
		width: 50%;
		position: absolute;
		height: 100%;
		right: 0;
		overflow: hidden;
	}

	.testimonials-wrap ul li img {
		display: block;
		
		1: auto
		height: initial;
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
	}

	.testimonials ul li {
		background-image: none!important;
		padding: 0;
		position: relative;
	}

	/*.testimonials ul li:after {
	    content: "";
	    position: absolute;
	    bottom: -20px;
	    left: 50px;
	    border-width: 20px 0 0 20px;
	    border-style: solid;
	    border-color: #fff transparent;
	    display: block;
	    width: 0;
	    z-index: 999;
	}*/

	.testimonials .info-wrap {
		display: inline-block;
		vertical-align: middle;
		/* width: 50%; */
		padding: 2em;
		/* float: left; */
	}

	.testimonials .overlay {
		display: none;
	}

	.testimonials .slick-next, .testimonials .slick-prev {
		color: #fff;
		cursor: pointer;
		font-size: 2em;
		opacity: 0.5;
	}
	
	.testimonials .slick-prev {
	 	/* color: #333; */
	}

	footer .menu > li {
		display: inline-block;
		width: 49.5%;
		vertical-align: top;
	}

	.copyright {
		text-align: left;
	}

	.single-portfolio .entry-content {
		max-width: 1180px;
		margin-left: auto;
		margin-right: auto;
	}

	.single-portfolio .portfolio-item-gallery {
		display: block;
		margin-bottom: 2em;
	}

	.single-portfolio .portfolio-item-gallery ul li {
		margin: 0 5px;
		vertical-align: middle;
		position: relative;
		border: 1px solid #efefef;
		padding: 4px;
		background: #ffffff;
	}

	/*Services*/

	section.services ul li {
		/* display: inline-block; */
		/* width: 49.5%; */
		/* vertical-align: middle; */
		/* padding: 0 2em; */
		/* margin-bottom: 2em; */
	}

	.service:after {
		display: none;
	}

	/*Team*/

	.the-team ul li {
		display: inline-block;
		width: 49%;
		background-color: #fff;
	}

	.the-team ul li:nth-child(even) {
		background-color: #fff;
	}

	/*Blog*/

	section.blog ul li {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		margin: 0 2.5% 2em;
		min-height: 550px;
		position: relative;
	}

	section.blog ul li a.read-more {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80%;
		margin: 10%;
	}

	.blog-post-grid-sizer,
	.alm-reveal li { width: 50%;margin-bottom: 1em; }

	.blog-post-gutter-sizer {
		width: 3%;
	}

	.entry p img.alignleft {
		float: left;
		margin: 0 3em 3em 0;
		clear: left;
	}

	.entry p img.alignright {
		float: right;
		margin: 0 0 2em 2em;
		clear: right;
	}

	.entry p img.aligncenter {
		float: none;
		margin: 0 auto 2em;
		clear: both;
		display: block;
	}

	section.our_clients ul {
		flex-direction: row;
		flex-wrap: wrap;
	}

	section.our_clients ul li {
		flex: 0 0 50%;
	}

	/*Wide image with content*/
	section.wide_image_with_content {
		padding: 5em 0;
		overflow: hidden;
	}
	
	section.wide_image_with_content .container {
		flex-direction: row;
		align-items: center;
		justify-content: stretch;
		flex-wrap: nowrap;
		overflow: visible;
	}

	section.wide_image_with_content .container.Right {
		flex-direction: row-reverse;
	}

	section.wide_image_with_content .container > * {
		/*flex: 0 0 50%;*/
		width: calc(50% - 4em);
		/* display: inline-block; */
		/* vertical-align: middle; */
	}

	section.wide_image_with_content .container.Right > * {
		margin-left: 4em;
		margin-right: 0;
	}

	section.wide_image_with_content .container.Left > * {
		margin-right: 4em;
		margin-left: 0;
	}

	section.wide_image_with_content .featured-image img {
		max-width: none;
		display: block;
		float: right;
		box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
		border-radius: 5px;
		overflow: hidden;
	}

	section.wide_image_with_content .Right .featured-image img {
		float: left;
	}

	section.wide_image_with_content .wysiwyg {
		padding: 2em;
	}

	section.wide_image_with_content .link {
		text-align: left;
		padding: 0;
	}


}


/* Desktop-ish size */
@media only screen and (min-width: 1180px) {

	.wrapper {
		min-height: 100%;
		margin: 0 auto 150px; /* the bottom margin is the negative value of the footer's height */
	}
	footer, .push {
		 /* height: 150px; */  /* '.push' must be the same height as 'footer' */
	}

	#header {
		width: 20%;
		display: inline-block;
	}

	#nav.desktop {
		width: 67%;
		text-align: right;
		display: inline-block;
		padding-left: 10%;
	}

	#nav.desktop .menu li a {
		font-size: 1.0625em;
		padding: 0 0.5em;
	}

	.phone-wrap {
		width: 12%;
		display: inline-block;
	}

	.content-wrap {
		margin-top: 3em;
	}

	.home .content-wrap {
		margin-top: 4em;
	}

	.banner h1.page-title {
	     font-size: 2.25em;
	}

	.logo-nav-wrap {
		transition: ease all 0.3s;
		position: fixed;
	}

	.logo-nav-wrap.sticky {
		background: #333;
		z-index: 9999;
	}

	.logo-nav-wrap .container {
		transition: ease all 0.3s;
		/* padding: 2em 0; */
		display: block;
	}

	.logo-nav-wrap.sticky .container {
		max-width: 960px;
		font-size: 0.8em;
		padding: 0;
	}

	.logo-nav-wrap #header img {
		transition: ease all 0.3s;
	}

	.logo-nav-wrap.sticky #header img {
		/* padding: 1em 0; */
	}

	section.portfolio .excerpt {
		/* top: 0; */
	}

	section.portfolio a:hover .excerpt {
		/* top: -50%; */
	}

	.testimonials .info-wrap {
		padding: 3em 8em;
	}

	.menu-footer-container, .footer-contact-wrap, .contact-wrap {
		display: block;
		width: 100%;
		vertical-align: top;
		text-align: left;
		/* margin-bottom: 2em; */
	}

	.footer-contact-wrap {
		text-align: center;
	}

	.contact-wrap {
		text-align: left;
		padding: 5em 2em;
	}

	.contact-wrap > div {
		display: inline-block;
		width: 49%;
		vertical-align: top;
		padding: 0 1em;
	}

	.menu-footer-container > ul > li {
		width: 25%;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 auto;
		padding: 0 1%;
	}

	footer .menu > li {
		width: 24.5%;
	}

	footer ul li > a {
		display: inline-block;
		width: auto;
		border-bottom: none;
	}

	footer ul li a {
		padding: 0.5em;
	}

	.footer-contact-wrap .container {
		text-align: center;
	}

	.footer-contact-wrap  div.form-break {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

	.footer-contact-wrap label {
		width: 100%;
	}

	.footer-contact-wrap form div:nth-child(2) label {
		width: 33%;
		display: inline-block;
	}

	.footer-contact-wrap form div:nth-child(2) label:first-child {
		padding-right: 1em;
	}

	.footer-contact-wrap form div:nth-child(2) label:nth-of-type(3) {
		padding-left: 1em;
	}

	.footer-contact-wrap form div:nth-child(2) label:last-child {
		width: 100%;
	}

	.footer-contact-wrap .current-website, .footer-contact-wrap .your-message {
		width: 100%;
	}

	.footer-contact-wrap input[type="submit"] {
		padding: 1em;
		display: block;
		width: auto;
		margin: 0 auto;
	}

	.gallery-wrap, .info {
		display: inline-block;
		width: 49%;
		vertical-align: middle;
	}

	.info {
		padding: 3em;
	}

	a.portfolio-website-link {
		display: inline-block;
		width: auto;
	}

	section.portfolio {
	    padding: 4em 0;
	}

	section.services ul {
		display: flex;
	}

	section.services ul li {
		flex: 0 0 33%;
		padding: 0 2em;
	}

	/*Team*/

	.the-team ul li {
		width: 33%;
		vertical-align: top;
	}

	/*Blog*/

	section.blog ul li {
		display: inline-block;
		width: 27%;
		vertical-align: top;
		border: 1px solid #ddd;
	}

	section.portfolio .portfolio-items-4 ul li {
		width: 24%;
		height: auto;
	}

	section.our_clients {
		padding: 6em 0;
	}

	section.our_clients ul li {
		flex: 0 0 25%;
	}

	section.wide_image_with_content .wysiwyg {
		padding: 4em;
		width: calc(50% - 4em);
	}

}

/* Stop Zoom on iOS selects, inputs and textareas */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
select, textarea, input {
    font-size: 16px;
  }
}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Always do mobile-first, and consider using em units: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw

-ftw